@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

:root {
    --color-light: #f7f5ea;
    --color-beige: #f5ebc0;
}

// CSS Variables won't work here
// $bp-largest: 75em; // 1200px
// $bp-large: 68.75em; // 1100px
// $bp-medium: 56.25em; // 900px
// $bp-small: 37.5em; // 600px
// $bp-smallest: 31.25em; // 500px


* {
    margin: 0;
    padding: 0;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // so that 1rem = 10px
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}