.carousel__text {
    grid-row: 4 / 5;
    grid-column: 1 / center-1;

    background-color: var(--color-light);
}

.carousel__text-inner {
    height: 100%;
    width: 45%;
    transform: translateX(45%);

    display: flex;
    flex-direction: column;

    .numbers {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 12rem;
        margin-bottom: auto;

        p:first-child::after {
            content: "";
            position: relative;
            top: -4px;
            width: 10rem;
            height: 2px;
            background-color: #000;
            margin: 0 1.5rem;
            display: inline-block;
        }
    }

    h2 {
        margin-bottom: 7rem;
        transform: translateX(2.5rem);
    }

    .navigation {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1.5rem;
        justify-content: center;
        align-items: center;

        margin-bottom: 12rem;

        button {
            transition: .2s all;

            &:hover {
                background-color: var(--color-beige);
            }
        }
    }
}

.carousel__image {
    grid-row: 4 / 5;
    grid-column: center-1 / -1;
}