.footer {
    grid-row: 7 / 8;
    grid-column: 1 / -1;

    padding: 14rem 20rem 10rem 20rem;
    background-color: var(--color-light);

    display: grid;
    grid-template-rows: minmax(min-content, 25rem) 10rem minmax(min-content, 18rem);
    grid-template-columns: 18rem 1fr max-content;

    &__links {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(5, 5rem);
        grid-template-columns: repeat(auto-fit, 25rem);
    }

    &__link:link,
    &__link:visited {
        font-size: 2rem;
        text-decoration: none;
        color: #000;
    }

    &__form {
        align-self: flex-start;

        display: grid;
        position: relative;

        label {
            font-size: 2rem;
            text-decoration: none;
            color: #000;
            margin-bottom: 2rem;
        }

        input {
            grid-row: 2 / 3;

            background-color: transparent;
            border: 0;
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid rgba(#adaaaa, 0.4);
            min-width: 35rem;
            min-height: 9rem;
            font-size: 2rem;

            &::placeholder {
                font-family: inherit;    
                font-size: 2rem;
                font-weight: 500;
                opacity: .4;
            }
        }

        button {
            // grid-row: 2 / 3;
            position: absolute;
            right: 0;
            bottom: 2rem;
            font-size: 2rem;
            width: 6rem;
            height: 6rem;

            transition: 0.2s all;

            &:hover {
                background-color: var(--color-beige);
            }
        }
    }

    &__divider {
        grid-column: 1 / -1;
        align-self: center;

        width: 100%;
        height: 1px;
        background-color: rgba(#adaaaa, 0.4);
    }

    &__social-links {
        grid-column: 1 / -1;
        align-self: center;
        justify-self: center;

        display: grid;
        grid-auto-flow: column;
        gap: 1.5rem;
    }

    &__social-link {
        cursor: pointer;
        background-color: white;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__social-image {
        width: 3rem;
    }

    &__copyrt {
        grid-column: 1 / -1;
        align-self: center;
        justify-self: center;

        font-size: 1.5rem;
    }
}